* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding-bottom: 25px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  border-bottom: 1px solid #e6e6e6;

}
.generate_btn {
    position: center;

}


.modal{
    margin: 0 auto;
    width: 150px;
    }

.Game-cells {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Game-cells-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 58px;
  border: 2px solid #d3d6da;
  margin: 2px;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.Game-cells-cell-correct {
  border: none;
  background-color: #6aaa64;
  color: white;
}

.Game-cells-cell-absent {
  background-color: #787c7e;
  color: white;
  border: none;
}

.Game-cells-cell-elsewhere {
  border: none;
  background-color: #c9b458;
  color: white;
}

.Game-cells-cell-entered {
  border-color: #787c7e;
}

.Game-cells-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Game-keyboard-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Game-keyboard-button {
  height: 58px;
  width: 43px;
  background-color: #d3d6da;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  border-radius: 4px;
  text-transform: uppercase;
}

.Game-keyboard-button:hover {
  cursor: pointer;
}

.Game-keyboard-button-wide {
  width: 64px;
}

.Game-keyboard-button-elsewhere {
  background-color: #c9b458;
  color: white;
}

.Game-keyboard-button-absent {
  background-color: #787c7e;
  color: white;
}

.Game-keyboard-button-correct {
  background-color: #6aaa64;
  color: white;
}
/*# sourceMappingURL=style.css.map */




body {
  background: #C0AB8E;
  font-family: "Lato", sans-serif;
}

h2 {
  color: #000;
  text-align: center;
  font-size: 2em;
  margin: 20px 0;
}

.warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  background: #944743;
  display: inline-block;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}

.panels {
  background: #fff;
  box-shadow: 0 2rem 2rem #00000080;
  min-height: 150px;
  width: 100%;
  max-width: 500px;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
  background: #fff;
  color: #000;
  border-top: 3px solid #32557f;
}


/*!**! BTN generate link*/

.custom-btn {
  width: 130px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
    margin-left: 10px;
}
.btn-16 {
  border: none;
  color: #000;
  z-index: 1;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}


/*!**! Link text*/


.linkText {
    position: relative;
    left: -30%;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
}


/*input field*/

.input-field {
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
}


/*p tag*/

p {
    font-family: "Ubuntu", sans-serif;
    margin-left: 10px;
}

.text {
    font-size: 15px;
}


/*rules text*/

.rulesText {
    margin-top: 10px;
}


/**/

.divLinkElement {
    position: relative;
    top: 10px;
}


